/* body{
    margin: 0;
    padding: 0;
    background-image: url("https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80");
    background-size: 1400px 700px;
} */
/* .MainBox{
    width: 1365px;
    height: 580px;
    background-color: aqua;
    position: fixed;
    bottom: 15px;
    border: 1px solid black; */
    /* background-image: url("https://images.unsplash.com/photo-1502602898657-3e91760cbb34?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Mnx8fGVufDB8fHx8&w=1000&q=80"); */
/* }
.content-box{
    width: 700px;
    height: 500px;
    right: 35px;
    position: relative;
    top: 10px;
}
.h{
    position:relative;
    top:50px;
    left:200px;
    width:500px;
    height:500px;
    border-right: 2px solid black;
    background-color: rgb(173, 180, 182,0.4);

}
 li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }
.j
{
    position:relative;
    padding-right:50px;
    bottom:464px;
    left:700px;
    width:500px;
    height:500px;
    background-color:rgb(173, 180, 182,0.4);
}
#k
{
    font-size: 25px;
    position:relative;
}
#a{
    padding:20px;
    font-size: 130%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
#s{
    font-size: 25px;
    list-style-type:none;
    position:relative;
    bottom:50px;
}
#n{
    padding:50px;
    position:relative;
    bottom:35px;
    right: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 130%;
} */
.h
{
    height: 300px;
    width: 1300px;
    background-color: rgb(211, 76, 76,0.7);
}
.j
{
    height: 300px;
    width: 1300px;
    background-color: rgb(211, 76, 76,0.7);
}
.content-box
{
    padding-top: 100px;
}
