.nav-items{
    display: flex;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    opacity: 0.8;
    box-shadow: 0px 2.98256px 9px;
    position: fixed;
    width: 100%;
}

.nav-logo{

    margin-top: 9px;
}

.nav-title{
    /* margin-left: 200px; */
    /* margin-right: 80px; */
    font-family: cursive;
}
.nav-toel{
    font-family: cursive;
    font-weight: 900;
    color: rgb(91, 150, 150);
}

.nav-sign{
    margin-top: 20px;
    margin-left: -150px;
    margin-bottom: 20px;
    background-color: rgb(211, 76, 76);
    color: white;
    border-radius: 5px;
    border-color: rgb(211, 76, 76);
    font-family: cursive;
    padding-right: 20px;
}

.nav-log{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background-color: rgb(211, 76, 76);
    color: white;
    border-radius: 5px;
    border-color: rgb(211, 76, 76);
    font-family: cursive;
}

body{
    background-color: rgb(239, 231, 231);
}
