.nav-items{
    display: flex;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: white;
    box-shadow: 0px 2.98256px 9px;
    position:fixed;
    width: 100%;
    top: 0px;
}

.nav-logo{

    margin-top: 9px;
}


.nav-toel{
    font-family: cursive;
    font-weight: 900;
    color: rgb(91, 150, 150);
}

.body-Preplan{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    color: rgb(211, 76, 76);
    font-family: cursive;
}

.body-connect{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
    color: black;
    font-family: cursive;
}

.body-drive{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 340px;
    color: black;
    font-family: cursive;
}

.body-profile{
    margin-top: 10px;
    margin-bottom: 20px;
    /* margin-left: 270px; */
    text-align: center;

}

.body-protext{
    margin-top: 20px;
    margin-bottom: 20px;
    /* margin-left: 10px; */
    color: black;
    font-family: cursive;
}

.nav-logout{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: -165px;
    background-color:rgb(211, 76, 76) ;
    color: white;
    border-radius: 5px;
    border-color: rgb(211, 76, 76);
    font-family: cursive;
}

body{
    background-color: rgb(239, 231, 231);
}
