body{
    margin: 0;
    padding: 0;
    /* background: #C6FFDD;  fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.boxe{
    width: 400px;
    height: 400px;
    border-radius: 5px;
    border: none;
    margin: 100px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.2);
   }


 input::placeholder {
    font-weight:bold;
    color:black;
  }
  .ot{
    width:100%;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      appearance: none;
      margin: 0;
  }
  #i{
    margin: 10px;
  height: 50px;
  width: 45px;

  border-radius: 7px;
  text-align: center;
  font-family: arimo;
  font-size: 1.2rem;
  background:pink;
  }
  #i:focus{
    border: 3px black solid;
  }
  #j{
    margin: 10px;
    height: 50px;
    width: 45px;

    border-radius: 7px;
    text-align: center;
    font-family: arimo;
    font-size: 1.2rem;
    background: pink;
  }
  #j:focus{
    border: 3px black solid;
  }

 #k{
  margin: 10px;
  height: 50px;
  width: 45px;
  border-radius: 7px;
  text-align: center;
  font-family: arimo;
  font-size: 1.2rem;
  background:pink;
 }
 #k:focus{
  border: 3px black solid;
}
 #l{
  margin: 10px;
  height: 50px;
  width: 45px;
  border-radius: 7px;
  text-align: center;
  font-family: arimo;
  font-size: 1.2rem;
  background: pink;
 }
 #l:focus{
  border: 3px black solid;
}
 #btn{
  width:100%;
  border-radius: 20px;
  height:40px;
  background-image:linear-gradient(to right, #00f260, #0575e6);
  box-shadow: 10px;
 }
button{
    width: 150px;
    height: 40px;
    background-color: #03d356;
    border: none;
    border-radius: 5px;
    font-size: 100%;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#verify
{
  margin-right: 700px;
}
