.restaurant{
    display:flex;
}
.rcard{
 width: 175px;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  margin: 25px;

}

.reviewbody{
    padding-top: 80px;
    display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.rcard-name{
    font-family: cursive;
    text-align: center;
}
