body{
    margin: 0;
    padding: 0;
    /* background: #C6FFDD;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.signupBox{
    width: 650px;
    height: 560px;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    border-radius: 5px;
    top: 10px;
    left:240px;
    padding-left: 120px;
    padding-right: 120px;
}
#title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
    position: relative;
    top: 30px;
}
::placeholder{
    color: black;
    font-size: medium;

}
input{
    width: 270px;
    height: 35px;
    border-radius: 5px;
    border: none;
}
.st{
    width: 625px;
    height: 35px;
}
select{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
}
#lname{
    position: relative;
    left: 80px;
}
.age{
    position: relative;
    left: 80px;
    width: 275px;
}
button{
    position: relative;
    width: 150px;
    height: 40px;
    font-size: larger;
    background-color: rgb(59, 89, 254);
    border: none;
    border-radius: 5px;
    left: 240px;
}
